nvm_import_export.zip
/nvm_import_export/__pycache__/*.pyc
/photogrammetry_importer/__pycache__/*
/photogrammetry_importer/file_handler/__pycache__/*
/photogrammetry_importer/ext/__pycache__/*
/photogrammetry_importer/.idea/*
photogrammetry_importer.zip
/doc/sphinx/build/
/examples/source_images/*
/examples/100_710*.JPG
/examples/100_7110.JPG
/images/camera_animation/*
/examples/images/
/photogrammetry_importer/.vscode/*
/.vscode/.ropeproject/config.py
/.vscode/.ropeproject/objectdb
/.vscode/settings.json
/photogrammetry_importer/utils/__pycache__/
/photogrammetry_importer.rar
/examples/images_bckp/
